@media screen and (max-width: 1024px){
        /* CONTROL PANEL */

    .tools__link{
        width: 36rem;
    }
    

}

@media screen and (max-width: 768px){
    /* AUTHORIZATION AND CONFIRMATION */

    .header{
        padding: 0 7.5rem 0 3rem;
    }
    
    .main__header{
        padding: 0 3rem;
    }
    
    .btn-menu_margin{
        margin: 3rem 3rem 4.5rem;
    }
    
    .container_padding{
        padding: 0 3rem;
    }

    .main__section{
        padding: 3rem 2rem 4rem;
    }

    .footer{
        padding: .5rem 3rem;
    }
    
            /* CONTROL PANEL */

    .tools__link{
        width: 32.4rem;
    }


    /* USER-CONTROL-PANEL */
    
    .text_size_header{
        font-size: 3.2rem;
    }
    .header__nav-path{
        font-size: 1.5rem;
    }
    .text_size_small{
        font-size: 1.4rem;
    }

    .field{
        display: flex;
        flex-direction: column;
        align-self: flex-start;
    }
    
    .field__label{
        align-self: flex-start;
    }
    .save{
        display: flex;
        flex-direction: column;
    }
    .save__button_size{
        width: 32rem;
    }
    .save__message{
        width: 32rem;
        text-align: center;
    }
    .save__message_margin{
        margin: 0;
        margin-top: 1rem;
    }
    
    .main__left-menu{
        width: 25rem;
    }
    .left-menu__list{
        padding-top: 2.5rem;
    }
    
    .main__right-tab{
        width: calc(100% - 25rem);
    }
    
    .right-tab{
        padding: 3rem 5rem 10rem;
    }
    
    .right-tab_margin{
        margin-left: 25rem;
    }
    .list__item{
            background-position: 3rem center;
    }
    .list__item a{
        padding: 1.2rem 0 1.2rem 6.8rem;
    }
}

@media screen and (max-width: 600px){

    /* AUTHORIZATION AND CONFIRMATION */
    .header{
        padding: 0 0 0 2rem;
    }

    .main__section{
        padding: 3rem 2rem 4rem;
    }

    .footer{
        padding: .5rem 2rem;
    }
    /* AUTHORIZATION */
    .main__section{
        margin: auto 2rem;
    }

    /* CONTROL PANEL */

    .main{
        padding: 9rem 0 9rem;
    }

    .main__header{
        padding: 0 2rem;
    }

    .btn-menu_margin{
        display: flex;
        flex-direction: column;
        margin: 3rem 2rem 4.5rem;
    }

    .container_padding{
        padding: 0 2rem;
    }

    /* DROP-DOWN-MENU and USER-PROFILE */

    .drop-down-menu{
        width: 100%;
    }
    .user-profile{
        width: 12rem;
        padding: 0 2rem;
    }

    .user-profile__login{
        display: none;
    }
    .drop-down-list__button{
        padding: 2.8rem;
    }

    .btn-menu__set-password_margin{
        margin-left: 0;
        margin-top: 2rem;
    }

    .block_padding{
        padding-top: 2.5rem;
    }
    
    .text_size_button{
        font-size: 1.5rem;
    }
    .item__text_head{
        font-size: 1.6rem;
    }
    .item__text_desc{
        font-size: 1.3rem;
    }
    
    .block__notice,
    .block__info {
        width: calc(100% - 6rem);
    }
    
    .notice__block{
        margin-bottom: 1rem;
        padding: 0;
    }
    .notice__block:hover .notice__btns{
        display: none;
    }
    .notice__btns{
        flex-direction: column;
        width: 80%; 
        margin: 1rem auto;
    }
    .button__pin_margin{
        margin-left: 0;
        margin-top: 1rem;
    }
    
    .info__label{
        font-size: 1.4rem;
    }
    .setting-btn{
        /*flex-direction: column;*/
        /*width: 80%;*/
        /*margin: 0 auto;*/
        flex-wrap: wrap;
    }
    .info__setting  p{
        font-size: 1.4rem;
    }

    .header__nav-path{
        font-size: 1.5rem;
    }
    .text_size_small{
        font-size: 1.4rem;
    }
    /*.text_size_header{*/
    /*    font-size: 25px;*/
    /*}*/
    .footer{
        font-size: 1.1rem;
    }
    .loader{
        top: 80px;
        right: calc(50% - 1.5rem);
    }
    
    .field_margin_bottom{
        margin-right: 0;
    }
    
    .main__right-tab{
        width: 100%;
        margin: 0;
        padding: 2rem 3rem;
    }
}

@media screen and (max-width: 400px){
    .resources__info{
        flex-direction: column;
    }
}