body *{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #747474;
}

.header{
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
}
.header_padding{
    padding: 0 6.3rem;
}
.block_color_blue-sky{
    background-color: #0097a7;
}

.nav__list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.list__item{
    display: flex;
    align-items: center;
    height: 100%;
}

.list__item.active{
    padding-bottom: 3px; 
    border-bottom: 2px solid #fff;
}
.list__item:hover{
    padding-bottom: 3px; 
    border-bottom: 2px solid #fff;
}

.list__link{
    font-size: 1.6rem;
}

.list__item_margin:not(:first-child){
    margin-left: 3.5rem;
}
.header__drop{
    display: block;
    width: 3.3rem;
    height: 1.9rem;
    background-image: url(../img/icon-admin/drop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 33%;
}

.header__profile{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.main_padding{
    padding: 5rem 6.3rem;
}
.main__button{
    
}
.main__button_margin{
    margin-bottom: 1.5rem;
}
.text_button{
    font-size: 1.5rem;
}
.main__table-shadow{
    box-shadow: 0 0 8.4rem rgba(22,86,107, 0.16);
}
.table-licenses{
    width: 100%;
    border-collapse: collapse;
}
.table__row,
.header__row{
    display: flex;
}
.col__header{
    line-height: 7rem;
    height: 7rem;
    flex: 3.5;
    color: #fff;
    font-size: 1.7rem;
}
.table__column{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    color: inherit;
    height: 7rem;
    flex: 3.5;
    font-size: 1.5rem;
}
.cell_margin:not(:last-child){
    margin-right: 1.5rem;
}
.col__header:first-child,
.table__column:first-child{
    flex: 1;
}

tbody .table__row:nth-child(2n){
    background-color: #f6f6f6;
}

tbody .table__row:hover{
    background-color: #e9ebf2;
    cursor: pointer;
}

.main__paginator{
    display: flex;
}

.paginator__link,
.dotter{
    color: #4c4c4c;
    display: block;
    line-height: 3.5rem;
    text-align: center;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.6rem;
}
.link-prev,
.link-next{
    background-repeat: no-repeat;
    background-position: center;
    background-size: .7rem 1.1rem;
}
.link-prev{
    background-image: url(../img/icon-admin/prev.png);
}
.link-next{
    background-image: url(../img/icon-admin/prev.png);
    transform: rotate(180deg);
}

.paginator__link.active{
    background-color: #0097a7;
    color: #fff;
}
.paginator__link:hover{
    background-color: #0097a7;
}

.main__licenses-count{
    display: flex;
}
.main__licenses-count-margin{
    margin-left: 4.5rem;
}
.licenses-count__text{
    font-size: 1.6rem;
    color: #4c4c4c;
}
.licenses-count__label{
    display: block;
    width: 30px;
    position: relative;
    cursor: pointer;
}
.licenses-count__label_margin{
    margin-left: 1rem;
}
.licenses-count__input{
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
}
.licenses-count__span{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.6rem;
    color: #4c4c4c;
}
.licenses-count__input:checked + .licenses-count__span{
    border-bottom: 2px solid #0097a7;
}

.main__settings{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.main__settings_padding{
    /*padding: 5.5rem 3rem;*/
}

.add-license{
    
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.add-license__license{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: auto;
    margin-top: 0;
    width: 86rem;
    /* height: 290px;  */
}
.add-license__header{
    width: 86rem;
    position: relative;
    margin: auto;
    margin-bottom: 0;
    height: 4.7rem;
}

.add-license__header_padding{
    padding: 0 3rem;
}

.button__license,
.button__rdp{
    height: 100%;
    border: none;
}

.license__button-remove {
    border: 1px solid transparent;
}

.license__button-remove:hover {
    opacity: .8;
    cursor: pointer;
}

.button__license:hover,
.button__rdp:hover{
    border: none;
    background: #fff;

}
.button__license:hover .text_color_white,
.button__rdp:hover .text_color_white{
    color: #0097a7;
}
.license__data-container_margin,
.rdp__data-container_margin{
    flex-wrap: wrap;
    margin: 3rem;
}
.license__data-container,
.rdp__data-container{
    
}
.license__data{
    width: calc(50% - 1.5rem);
    display: flex;
    flex-direction: column; 
}
.license__data_margin:not(:nth-child(2n-1)){
    margin-left: 3rem;
}
.license__data_margin-top{
    margin-top: 2rem;
}

.license__input{
    height: 3.8rem;
    border: 1px solid rgba(111,111,111, 0.41);
    padding: 1rem;
}
.license__label{
    font-size: 1.5rem;
    color: #747474;
}
.license__label_margin{
    margin-bottom: .8rem;
}
.license__button,
.license__button-save,
.license__button-edit{

    align-self: flex-end;
}

.license__button-save{
    display: inline-block;
}

.license__button-margin{
    margin-right: 3rem;
}

.license__data-container{
    
}

.rdp__area{
    resize: none;
    height: 25rem;
}

.rdp__validity_margin{
    margin-top: 2rem;
}
.validity__container{
    margin-top: .6rem;
}

.button__license-close{
    position: absolute;
    top: 1.4rem;
    right: 3rem;
    width: 1.9rem;
    height: 1.9rem;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    background-image: url(../img/icon-admin/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.license__edit{
    /* display: flex; */
    
    align-items: center;
    justify-content: space-between;
}
.license__edit_padding{
    padding: 0 3rem;
}

.license__button-remove{
    height: 5rem;
    padding: 0 2.5rem;
    background-image: url('../img/icon-admin/trash.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.5rem;
}

.edit__agree{
    
    width: calc(100% - 26.7rem);
}

.edit__agree_margin{
    margin-left: 1.7rem;
}

.ask-yes{
    background-color: #ee5353;
}
.ask-yes,
.ask-no{
    height: 2.8rem;
    padding: 0 1rem;
}
.ask-no{
    border: none;
    background-color: #fff;
}
.ask-no:hover{
    border: none;
}
.text_underline{
    border-bottom: 1px solid #747474;
}
.add-license__license_padding{
    padding-bottom: 3rem;
}

/* JS LOGIC! */

.add-license{
    display: flex;
}
.rdp__data-container,
.license__data-container{
    display: flex;
}
.button__license.active,
.button__rdp.active{
    background: #fff;
}
.button__license.active .text_button,
.button__rdp.active .text_button{
    color: #0097a7;
}

.license__button,
.license__button-save,
.license__button-edit{
    display: inline-block;
}

.license__edit{
    display: flex;
}

.edit__agree{
    display: block;
}