@font-face {
    font-family: "OpenSans LightItalic";
    src: url("../fonts/OpenSans-LightItalic.ttf");
}

.font-italic{
    font-family: OpenSans LightItalic;
}

body{
    background: url(../img/fon-picture.png) no-repeat;

    background-position: bottom;
    background-size: cover;  
}

.main {
    background: rgba(34,118,147, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main__section{
    width: 50rem;
    min-width: 30rem;
    background-color: #fff;
    padding: 3rem 4rem 4rem;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.button{
    margin: 0 auto;
}

.header__link{
    display: flex;
    align-items: center;
}
.authorization__header{
    margin-bottom: 3rem;
}

.sms-confirmation__header{
    margin-bottom: 0;
}

.header_text_align{
    text-align: center;
}

.header_text-size_caption{
    font-size: 3rem;
}

.sms-confirmation__help-info{
    text-align: center;
    margin-bottom: 3rem;
}

.sms-confirmation__agreement{
    margin-top: 1.6rem;
}

.sms-confirmation__link {
    text-decoration: underline;
    color: #5792A7;
}


.sms-confirmation{
     /*display: block; */
}

.authorization{
     /*display: none; */
}

.invelid_margin{
    margin-top: 1rem;
}

.loader{
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}

.button-with-loader {
    margin-right: 2rem;
    margin-left: 2rem;
}
/*.loader__item{*/
/*    border-top: 7px solid #0DBDFB;*/
/*}*/

