body{
    background: none;
}

.header__nav-path{
    display: flex;
    list-style: none;
    font-size: 14px;
}

.header__list-item {
    margin-left: 5px; 
}

.btn-menu_margin{
    margin: 30px 60px 45px;
}

.btn-menu__set-password_margin{
    margin-left: 10px;
}


.tools__header_border_bottom{
    border-bottom: 1px solid #818384;
}

.tools__header_padding{
    padding: 8px 7px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container_padding{
    padding: 0 60px;
}

.item{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.picture{
    display: flex;
}

.picture__img{
    width: 80%;
    margin: auto;
}

.item__header_line-height{
    line-height: 0.9;
}

.item__text_width{
    width: calc(100% - 100px); 
}

.item_margin{
    margin: 20px 0 0;
}

.description_text_size{
    font-size: 14px;
}

.description_padding{
    padding-top: 6px; 
}

.picture{
    width: 80px;
    height: 80px;
}

.picture_theme_sky-dark{
    background-color: #227693;
}

.picture_theme_disable{
    background-color: #818384;
}

.btn-menu__button_size{
    height: 45px;
}

.item__text_head{
    font-size: 16px;
}

.item__text_desc{
    font-size: 13px;
}

.tools__link{
    display: block;
    width: 390px;
}

.tools__link:hover  .header__text{
    color: #227693;
}

.tools_disable{
    cursor: default;
}

.tools_disable:hover .header__text{
    color: #202729;
}
