.header__menu{
    position: fixed;
    right: 0;
    top: 8rem;
    z-index: 999999;
    height: calc(100% - 11rem);
}

.drop-down-list{
    width: 7.5rem;
    height: 100%;
    list-style: none;
    position: relative;
    background-color: #fff;
}

.drop-down-menu.active{
    /* display: block; */
    display: flex;
    justify-content: flex-end;
}

.block_padding{
    padding: 3rem 2rem;
}

.item__link{
    display: block;
}

.drop-down-list__button{
    width: 7.5rem;
    height: 7.5rem;
    padding: 3.1rem;
    position: relative;
}

.button__notification{
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    right: 2.3rem;
    top: 2.4rem;
    background: #26BEB8;
    border-radius: 50%;
    color: #fff;
}

.drop-down-list__button_background{
    background-color:#fff;
    background-position: center;
    background-size: 2.2rem;
    background-repeat: no-repeat; 
}

.button__notice{
    background-image: url(../img/drop-down-icon/notice.png);
}
.button__info{
    background-image: url(../img/drop-down-icon/information.png);
    border: 1px solid transparent;
}

.drop-down-list__button {
    border: 1px solid transparent;
}

.drop-down-list__button:hover {
    border: 1px solid #ccc;
}

.button__support{
    background-image: url(../img/drop-down-icon/support.png);
}
.button__exit{
    background-image: url(../img/drop-down-icon/exit.png);
}

.block{
    display: none;
    background-color: #fff;
}

.block_shadow{
    box-shadow: -1px 0px .5rem #aaa;
}

.drop-down-list__block{
    width: 32rem;
    height: 100%;
    /* position: absolute; */
    /* left: -320px; */
    /* top: 0; */
}

.block__header-border{
    padding-bottom: .5rem;
    border-bottom: 1px solid #000;
}
.balance__link:first-child{
    margin-bottom: .8rem;
}

.balance{
    display: flex;
    justify-content: space-between;
}

.balance_margin,
.resources_margin{
    margin: 1rem 0 2rem;
}

.services_margin{
    margin: 1rem 0 3.5rem;
}

.balance__link{
    display: block;
    cursor: pointer;
    font-size: 1.4rem;
}

.link-color{
    color: #26BEB8;
}

.money__count-color{
    color: #26BEB8; 
}

.money__text-position{
    text-align: end;
}

.money__count-size{
    font-size: 2.4rem;
}

.block_text-size{
    font-size: 1.4rem;
}

.resources__info{
    display: flex;
    justify-content: space-between;
}

.services__item{
    display: flex;
    justify-content: space-between;
}

.resources__disk{
    display: flex;
    align-items: center;
}

.resources__disk span{
    font-size: 3rem;
    margin-right: .5rem;
    color: #227693;
    line-height: 0.8;
}

.drop-down-list__block.active{
    display: block;
}

.drop-down-list__button.active{
    background-color:#E0E0E0; 
}

.drop-down-list__button:hover{
    background-color:#E0E0E0;
    border: 1px solid rgba(0,0,0,0);
    cursor: pointer;
}

.text-caption_menu{
    font-size: 2rem;
}

.text-balance{
    font-size: 1.4rem;
    line-height: 1.9rem;
}

.text-services{
    font-size: 1.5rem;
}

.text-resource{
    font-size: 1.4rem;
}



.block__notice,
.block__info{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 32rem;
    background: #fff;
}
.block__notice h1,
.block__info h1{
    font-size: 1.8rem;
}
.block__notice.active{
    display: block;
}

.block__info.active{
    display: block;
}

.info__setting{
    width: 100%;
}

.info__setting_margin{
    margin-top: 1rem;
}

.info__label{
    width: 100%;
}

.info__input{
    width: 100%;
    height: 2.5rem;
}
.setting-btn{
    display: flex;
    justify-content: space-between;
}
.setting-btn > .info__label{
    position: relative;
    width: 100%;
}
.info__button{
    height: 3rem;
    width: 100%;
    cursor: pointer;
}
.setting-btn .info__input{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    opacity: 0;
    height: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
}
.setting-btn .info__input:checked + .info__button{
    color: #fff;
    background: #227693;
}

.setting__select{
    width: 100%;
    height: 2.5rem;
}

.info__agreement{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 3rem;
}

.button__agree{
    width: 12rem;
}

.button__cancel{
    width: 9rem;
}
.button__cancel_margin{
    margin-left: 1rem;
}

.notice__block{
    border: 1px solid transparent;
    padding: 1rem .7rem;
    cursor: pointer;
}

.notice__block:hover{
    border: 1px solid #333333;
}

.notice__block:hover .notice__btns{
    display: flex;
}

.notice__btns{
    display: none;
    width: 100%;
    /* display: flex; */
    margin-top: 1rem;
}

.button__resource,
.button__pin{
    height: 3rem;
    padding: 0 1rem;
}

.button__pin_margin{
    margin-left: 1rem;
}


.notice__picture{
    width: 100%;
    display: flex;
    align-items: center;
}

.notice__img{
    width: 2rem;
    /* align-self: flex-start; */
}

.description__header{
    font-size: 1.6rem;
}

.description__text{
    font-size: 1.3rem;
    margin-top: .5rem;
}

.description__header_margin{
    margin-left: 1rem;
}

.text-margin{
    margin-top: 1rem;
}
