@font-face {
    font-family: "OpenSans Light";
    src: url("../fonts/OpenSans-Light.ttf");
}
@font-face {
    font-family: "OpenSans Regular";
    src: url("../fonts/OpenSans-Regular.ttf");
}
body, html{
    height: 100%;
    padding: 0;
    margin: 0;
}

body *{
    color: #2F555E;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: OpenSans Light;
    font-weight: 100;
}
.font-regular{
    font-family: OpenSans Regular;
}

#wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    /* justify-content: space-between;  */
}

.header_theme_sky-dark{
    background-color: #26BEB8;
}

.header_content{
    display: flex;
    justify-content: space-between;
}


.header{
    height: 80px;
    width: 100%;
    position: fixed;
    padding:0 75px;
    z-index: 10;
}

.logo{
    width: 180px;
}

.header__logo{
    display: block;
}

.header__text{
    color: #2F555E;
    font-size: 21px;
}

.header__text_size_head{
    font-size: 24px;
}

.header_text_align{
    align-items: center;
}

.header__link{
    display: block;
    width: 100%;
    height: 100%;
}

.header__button-adaptive{
    display: none;
}
.user-profile{
    display: flex;
    align-items: center;
    padding: 0 25px;
    justify-content: space-between;
    width: 245px;
    height: 100%;
    cursor: pointer;
}


.user-profile:hover{
    background: #2A9C97;
}

.user-profile__login{
    color: #fff;
    font-size: 15px;
}
.user-profile__avatar {
    width: 60px;
    height: 60px;
    display: flex;
}

.user-profile__img{
    width: 90%;
    margin: auto;
}

.user-profile__button{
    border: none;
    background: none;
    cursor: pointer;
    width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 8px solid #fff;
}

.user-profile.active{
    background-color: #2A9C97;
}

.user-profile__button.active{
    border-top: 8px solid#fff;
}


.footer{
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding: 5px 75px;
    background: #737373;
    color: #fff;
    font-size: 12px;
    flex: 0;
}

.main{
    flex: 1;
    padding: 130px 0 140px;
}
.input {
    height: 50px;
    padding: 8px 10px;
    border: 1px solid #000;
    margin-bottom: 15px;
    margin-top: 12px;
    font-size: 17px;
}

.button{
    /*height: 40px;*/
    /*padding: 0 20px;*/
    border: 2px solid rgba(0,0,0,0);
    /*outline: none;*/
    /*cursor: pointer;*/
    /*display: inline-flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*vertical-align: top;*/
    /*align-items: flex-start;*/
    cursor: pointer;
    width: 272.67px;
    height: 65.88px;
    /*left: 400px;*/
    /*top: 549px;*/
    
    background: #26BEB8;


}

.button:hover{
    /*border: 2px solid #000;*/
    background: #2CC3B8;
}

.button:focus{
    background: #24B9B3;
}

.button__text_color{
    color: #fff;
}

.button_theme_sky-light{
    color: #fff;
    background: #0DBDFB;
}

.button_theme_sky-dark{
    color: #fff;
    background: #26BEB8;
}


.text_color_grey{
    color: #aaa;
}

.text_color_white{
    color: #fff;
}

.text_color_blue{
    color: #26BEB8;
}

.text_color_dark{
    color: #3C3C3C;
}

/* .text_colo_dark{
    color: #202729;
} */
.button__text_size_small{
    font-size: 16px;
}
.text_size_14{
    font-size: 16px;
}
.text_size_small{
    font-size: 15px;
}
.text_size_min-small{
    font-size: 14px;
}

.text_size_caption{
    font-size: 28px;
}

.text_size_button{
    font-size: 16px;
}

.text_size_header{
    font-size: 38px;
}

.main__header{
    position: relative;
    padding: 0 75px;
}
.header__nav-path{
    margin-top: 8px;
    display: flex;
    list-style: none;
    font-size: 16px;
}

.header__list-item {
    margin-left: 5px; 
}

.tools__header_margin_bottom{
    margin-bottom: 5px;
}

.button > span{
    
}

.drop-down-menu{
    display: none;
}

.hidden{
    visibility: hidden;
}
.loader{
    /*display: flex;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background: rgba(0,0,0,0.2);*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    position: absolute;
    top: 17px;
    right: -50px;
}

.loader_relative{
    position: relative;
}

.loader__item {
    margin: auto;
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid #24B9B3;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}