.content__company-info {
    width: 100%;
    font-size: 1.6rem;
}

.profile__loader {
    left: 110%;
}

.company-info__box {
    display: flex;
}

.company-info__label {
    width: 25%;
}

.company-info__label:not(:last-child) {
    margin-bottom: 1.8rem;
}

.save__errorMessage {
    display: inline-block;
    color: red;
    font-size: 1.3rem;
    width: 50%;
}

.save__button_size {
    margin-right: .5rem;
}