/*.header{*/
/*    padding: 0 95px 0 75px;*/
/*}*/

/*.header_padding_reset{*/
/*    padding: 0 70px 0 20px;*/
/*}*/



.main{
    padding: 8rem 0 0;
    display: flex;
}

.main__left-menu{
    /* flex: 1; */
    width: 31rem;
}

.main__right-tab{
    /* flex: 4; */
    width: calc(100% - 30rem);
}

.left-menu{
    display: flex;
    flex-direction: column;
    height: calc(100% - 9rem);  
}

.left-menu_position{
    position: fixed;
    top: 8rem;
    background: #FFFFFF;
    box-shadow: 0px 0px .4rem rgba(0, 0, 0, 0.25);

}

.left-menu_theme_dark{
    background-color: #283033;
}

.left-menu__button_margin{
    margin: 2rem auto 1rem;
}

.left-menu__button_size{
    width: calc(100% - 4.4rem);
    
}

.list{
    list-style: none;
}

.list_padding{
    padding: 0 2rem;
}
.list__item{
    display: block;
    background-size: 1.8rem;
    background-position: 7.5rem center;
    background-repeat: no-repeat;
}
.list__item a{
    display: block;
    padding: 1.8rem 0px 1.7rem 10.6rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: OpenSans Regular;

}

.item__employees{
    background-image: url(../img/icon-user-control-panel/icon-employees.png);
}
.item__folders{
    background-image: url(../img/icon-user-control-panel/icon-folders.png);
}
.item__payments{
    background-image: url(../img/icon-user-control-panel/icon-payments.png);
}
.item__data{
    background-image: url(../img/icon-user-control-panel/icon-data.png);
}
.item__support{
    background-image: url(../img/icon-user-control-panel/icon-support.png);
    background-size: 16px;
}
.item__services{
    background-image: url(../img/icon-user-control-panel/icon-services.png);
}

.list__item:hover{
    /*background-color: #227693;*/
}

.right-tab{
    padding: 5rem 7rem;
}

.right-tab_margin{
    margin-left: 31rem;
}

.tab-data__content{
    width: 100%;
    display: none;
    /*flex-direction: column;*/
    flex-wrap: wrap;
}

.tab-data__content_margin_top{
    margin-top: 2.5rem;
}

.field{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.field_margin_bottom{
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.field_margin_bottom:htn-child(2n-1){
    margin-right: 2rem;
}

.field__input{
    /*height: 30px;*/
    /*width: 320px;*/
    /*border-color: #818384;*/
    /*margin: 0;*/

    width: 39rem;
    height: 5rem;
    border: none;
    
    background: #EDEDED;
}

.field__input:focus{

    border: 1px solid #C0C0C0;
    box-sizing: border-box;

}

.field__label{
    /*width: 200px;*/
    width: 100%;
}
.field__label span{
    font-weight: 400;
}
.save{
    width: 100%;
    display: flex;
    align-items: center;
}
.save_margin{
    margin-top: 3rem;
}
.save__message{
    line-height: 4rem;
}
.save__message_margin{
    margin-left: 1.5rem;
}

.list__item.active{
    /*background-color: #227693;*/ 
}


.text_size_header{
    font-size: 2.8rem;
}

.header__nav-path{
    margin-top: ..8rem;
    display: flex;
    list-style: none;
    font-size: 1.4rem;
}

/* лучший селектор в мире!!!!!!! */

section[class^="right-tab__"]{
    display: none;
}

section[class^="right-tab__"].active {
    display: block;
}

.left-menu__list{
    padding-top: 3.5rem;
}

.selection__list{
    margin-top: 3.7rem;
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.selection__list li {
    padding: .5rem 0;
    font-size: 1.6rem;
    cursor: pointer;
}

.selection__list li:not(:last-child){
    margin-right: 2.5rem;
}


.form__associate,
.form__company{
    display: none;
}

.form__associate,
.form__company{
    /*display: none;*/
}

.form__associate.active,
.form__company.active{
    display: flex;
}

.button__company.active,
.button__associate.active{
    border-bottom: 1px solid #26BEB8;
}
@media screen and (max-width: 600px){
    /* ADAPTIVE-MENU (USER-CONTROL-PANEL)   */

    .header__logo{
        display: none;
    }

    .header__button-adaptive{
        display: block;
        width: 4rem;
        height: 4rem;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        background-image: url(../img/icon-adaptive-menu.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 4rem;
    }

    .left-menu{
        display: none;
        position: fixed;
        width: 100%;
        top: 6rem;
    }
    .left-menu.active{
        display: block;
        z-index: 3;
    }

    .left-menu__button_margin{
        margin: 2rem;
    }

    .right-tab{
        padding: 0 2rem;
        width: 100%;
    }
    .right-tab_margin{
        margin: 0;
    }
    .field{
        width: 100%;
    }
    .field__input{
        width: 100%;
    }

    .tab-data__save{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .save__button_size{
        width: 100% !important;
    }
    .save__message_margin{
        margin: 0;
        margin-top: .5rem;
    }
}